@model G_Shop.Models.NguoiDung
@{
    ViewBag.Title = "suanguoidung";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>
    Sửa người dùng
</h2>
@Html.ValidationSummary()
<div style="margin-left:300px">
    @using(Html.BeginForm("suanguoidung", "User", FormMethod.Post)) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.MaNguoiDung)
        <div class="form-group">
            <label>Tên đăng nhập</label>
            @Html.TextBoxFor(m => m.TenDangNhap, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Email</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Giới tính</label>
            <select name="gioitinh" class="form-control">
                @if(Model.GioiTinh == "Nam") {
                    <option value="Nam" selected>Nam</option>
                    <option value="Nữ">Nữ</option>
                } else {
                    <option value="Nam">Nam</option>
                    <option value="Nữ" selected>Nữ</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label>Ngày sinh</label>
            @*@Html.DisplayFor(m => m.NgaySinh, new { @class = "form-control" });*@
            @Html.TextBoxFor(m => m.NgaySinh, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Số điện thoại</label>
            @Html.TextBoxFor(m => m.SoDienThoai, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Vai trò</label>
            <select name="vaitro" class="form-control">
                @if(Model.VaiTro == "Khách hàng") {
                    <option value="Khách hàng" selected>Khách hàng</option>
                    <option value="Quản trị viên">Quản trị viên</option>
                } else {
                    <option value="khách hàng">Khách hàng</option>
                    <option value="Quản trị viên" selected>Quản trị viên</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-default">Lưu</button>
        <a href="/Admin/User/Index" class="btn btn-default">Hủy</a>
    }
</div>
@*<div>
        <hr />
        <div class="row">
            <div class="col-lg-offset-1">
                <i class="glyphicon glyphicon-fast-backward"></i>
                <span>
                    Quay về danh sách</a>
                </span>
            </div>
        </div>
    </div>*@
<div>
</div>