@model G_Shop.Models.HoaDon
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_LayoutNotSlide.cshtml";
}

@Html.ValidationSummary()
@using (Html.BeginForm())
{
    
        <div class="form-group col-sm-6">
            <label>Người mua</label>
            @Html.TextBoxFor(m => m.MaNguoiDung, new { @class = "form-control", @readonly = true })
        </div>

        <div class="form-group col-sm-6">
            <label>Tổng tiền</label>
            @Html.TextBoxFor(m => m.TongTien, new { @class = "form-control", @readonly = true })
        </div>
 

       <div class="row">
        <div class="form-group col-sm-6">
            <label>Ngày mua</label>
            @Html.TextBoxFor(m => m.NgayMua, "{0:MM/dd/yyyy}", new { @class = "form-control", @readonly = true })
        </div>

       
    </div>

    <div class="form-group">
        <button class="btn btn-default" type="submit">Đặt hàng</button>
    </div>
}

<fieldset>
    <legend>HÀNG ĐÃ CHỌN</legend>
    <table class="table">
        <tr>
            <th>Tên cá thể</th>
            <th>Giá</th>
           
        </tr>
        @foreach (var p in ShoppingCart.Cart.Items)
        {
            <tr>
                <td>@p.TenCaThe</td>
                <td>@Html.FormatValue(p.Gia, "{0:c}")</td>
               
            </tr>
        }
    </table>
</fieldset>



