@model G_Shop.Models.HoaDon
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutNotSlide.cshtml";
}
@using (Html.BeginForm())
{
    <div class="row">
        <div class="form-group col-sm-6">
            <label>Khách hàng</label>
            @{ 
                var tennguoidung = Model.NguoiDung.TenDangNhap;
            }
            <p class="form-control">@tennguoidung</p>
            @Html.HiddenFor(m => m.MaNguoiDung, new { @class = "form-control", @readonly = true })
        </div>

        <div class="form-group col-sm-6">
            <label>Tổng tiền</label>
            @Html.TextBoxFor(m => m.TongTien, new { @class = "form-control", @readonly = true })
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-6">
            <label>Ngày mua</label>
            @Html.TextBoxFor(m => m.NgayMua, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = true })
        </div>
        <div class="form-group col-sm-6">
            <label>Ngày giao</label>
            @Html.TextBoxFor(m => m.NgayMua, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = true })
        </div>

     
    </div>
    <div class="row">
        <div class="form-group col-sm-12">
            <label>Địa chỉ giao hàng</label>
            @Html.TextBoxFor(m => m.DiaChi, new { @class = "form-control", @readonly = true })
        </div>
    </div>

}
   <fieldset>
    <legend>CHI TIẾT ĐƠN HÀNG</legend>
    <table class="table">
        <tr>
            <th>Tên cá thể</th>
            <th>Giá bán</th>
            <th>Số lượng</th>
        </tr>
        @foreach (var d in Model.ChiTietHoaDons)
        {
            <tr>
                <td>@d.CaThe.TenCaThe</td>
                <td>@Html.FormatValue(d.CaThe.GiaBan, "{0:c}")</td>         
                <td>1</td>
             
            </tr>
        }
    </table>
</fieldset>
