@model G_Shop.Models.HoaDon
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutNotSlide.cshtml";
}
<fieldset>
    <legend>CHI TIẾT ĐƠN HÀNG</legend>
@using(Html.BeginForm()) {
    <label>Khách hàng:</label>
    @Model.NguoiDung.TenDangNhap
    @Html.HiddenFor(m => m.MaNguoiDung, new { @class = "form-control" })
    <br />
    <label>Tổng tiền</label>
    @Html.DisplayFor(m => m.TongTien, new { @class = "form-control" })
    <br />
    <label>Ngày đặt hàng</label>
    @Html.FormatValue(Model.NgayMua, "{0:MM/dd/yyyy}")
    <br />
    <label>Ngày giao</label>
    @Html.FormatValue(Model.NgayGiaoHang, "{0:MM/dd/yyyy}")
    <br />
    <label>Địa chỉ giao hàng</label>
    @Html.DisplayFor(m => m.DiaChi, "{0:MM/dd/yyyy}", new { @class = "form-control" })
    <br />
    <br />
}

    <table class="table">
        <tr>
            <th>Tên cá thể</th>
            <th>Giá bán</th>
            <th>Số lượng</th>
        </tr>
        @foreach(var d in Model.ChiTietHoaDons) {
            <tr>
                <td>@d.CaThe.TenCaThe</td>
                <td>@Html.FormatValue(d.CaThe.GiaBan, "{0:c}")</td>
                <td>1</td>

            </tr>
        }
    </table>
</fieldset>
