@model G_Shop.Models.CaThe

@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Views/Shared/_LayoutNotSlide.cshtml";
}
<script src="~/Scripts/Shoppingcart.js"></script>
<h2>Chi tiết</h2>
<div class="col-md-4">
    <div>
        <img id="img_01" src="~/assets/client/images/@(Model.HinhAnh.Substring(0,Model.HinhAnh.IndexOf("|")))" class="img_detail" />
    </div>
</div>
<div class="col-md-6">
    <dl class="dl-horizontal">
        

        <dt>
            @Html.DisplayNameFor(model => model.TenCaThe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenCaThe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tuoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tuoi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd style="color:red;font-weight:bold">
            @Html.DisplayFor(model => model.Gia)
        </dd>
          <dt>

              @if (Session["user"] != null)
              {
                  <img style="width:50px;height:30px" class="add-to-cart" data-id="@Model.MaCaThe" src="~/assets/client/images/Add to basket.png" />
              }
             
          </dt>
    </dl>
</div>
