@model IEnumerable<G_Shop.Models.CaThe>
@{
    ViewBag.Title = "CaTheLienQuan";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thêm cá thể liên quan</h2>
<div class="col-md-12">
    Tổng số cá thể liên quan : @ViewBag.Sum
</div>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>STT</th>
            <th>
                Hình ảnh
            </th>
            <th>
                Tên cá thể
            </th>
            <th>
                Mô tả
            </th>
            <th>
                Ngày sinh
            </th>
            <th>
                Giá
            </th>
            <th>
                Tình trạng
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0;}
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(i = i + 1)
                    <input type="hidden" id="getMaLoai" value="@item.MaLoai">
                </td>
                <td>
                    <img src="~/assets/client/images/@(item.HinhAnh.Substring(0, item.HinhAnh.IndexOf("|")))" style="width:50px;height:50px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenCaThe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MoTa)
                </td>
                <td>
                    @Html.FormatValue(item.NgaySinh, "{0:dd/MM/yyyy}")
                </td>
                <td>
                    @Html.FormatValue(item.GiaBan, "{0:c}")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TinhTrang)
                </td>
                <td>
                    
                        @{
                            if (ViewBag.Del.IndexOf(item.MaCaThe) >= 0)
                            {
                                <button class="btn btn-primary" style="background-color:darkgreen">
                                    @Html.ActionLink("Xóa", "xoaGoiY", new { c1 = ViewBag.ID,c2 = item.MaCaThe }, new { @style = "color:white;" })
                             </button>
                            }
                            else
                            {
                                <button class="btn btn-primary">
                                    @Html.ActionLink("Thêm", "themGoiY", new { c1 = ViewBag.ID, c2 = item.MaCaThe }, new { @style = "color:white;" })
                                </button>
                            }
                        }
                                   
                </td>
            </tr>
        }
    </tbody>
</table>



