@model List<G_Shop.Areas.Admin.Models.CTHD>

@{
    ViewBag.Title = "CTHD";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-lg-12">
    <h2>Chi tiết hoá đơn</h2>
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                Mã hóa đơn:
            </dt>

            <dd>
                <p id="mahd">@ViewBag.MaHD</p>
            </dd>
            <dt>
                Ngày giao hàng:
            </dt>
            <dd>
                @Html.FormatValue(ViewBag.NgayGiaoHang, "{0:dd/MM/yyyy}")
            </dd>
            <dt>
                Địa chỉ:
            </dt>
            <dd>
                @ViewBag.DiaChi
            </dd>
        </dl>
        <hr />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Sản phẩm</th>
                    <th>
                        Giá
                    </th>

                </tr>
            </thead>
            <tbody>
                @{int i = 0; }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(++i)</td>
                        <td>
                            @item.TenCaThe
                        </td>
                        <td>
                            @Html.FormatValue(item.Gia,"{0:c}")
                        </td>

                    </tr>
                }
                <tr>
                    <td></td>
                    <td align="right"><strong>Tổng tiền:</strong></td>
                    <td><strong>@Html.FormatValue(ViewBag.TongTien, "{0:c}")</strong></td>
                </tr>
            </tbody>
        </table>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Tình trạng:
            </dt>

            <dd>
                @*<a href="#" id="dynamicdata" data-type="select" data-pk="1" data-value=@ViewBag.TinhTrang data-title="Chọn tình trạng hóa đơn"></a>*@
                @*<a href="#" id="status" data-type="select" data-pk="1" data-title="Chọn tình trạng hóa đơn"></a><button id="enable" class="btn btn-default">Sửa <span class="glyphicon glyphicon-edit"></span></button>*@
                <span id="enable">@ViewBag.TinhTrang</span>
                <button id="btnEnable" type="submit" class="btn btn-default">Sửa <span class="glyphicon glyphicon-edit"></span></button>
                @using (Html.BeginForm("SuaTinhTrang", "AdminHome", FormMethod.Post))
                {
                    <input type="hidden" name="mahoadon" value="@ViewBag.MaHD" />
                    <select name="tinhtrang" class="form-control" id="selTinhTrang">
                        <option value="Chờ giao hàng">Chờ giao hàng</option>
                        <option value="Hoàn thành">Hoàn thành</option>
                        <option value="Hủy">Hủy</option>
                    </select>
                    <button id="btnSubmit" type="submit" class="btn btn-default">Sửa <span class="glyphicon glyphicon-edit"></span></button>
                }
            </dd>
            
        </dl>
    </div>
    <div class="col-md-5">
        <dl class="dl-horizontal">
            <dt>
                Tên người mua:
            </dt>

            <dd>
                @ViewBag.TenNguoiDung
            </dd>

            <dt>
                Số điện thoại:
            </dt>

            <dd>
                @ViewBag.SDT
            </dd>
        </dl>
    </div>
</div>
<div class="col-md-offset-2">
    <a href="/Admin/AdminHome/HoaDon" title="Quay lại danh sách hóa đơn" class="btn btn-success">Quay lại</a>
</div>
<script>
    $(function () {
        if ($("#enable").text() == 'Hoàn thành' || $("#enable").text() == 'Hủy')
            $("#btnEnable").hide();
        $("#selTinhTrang").hide();
        $("#btnSubmit").hide();
        $("#btnEnable").off('click').on('click', function () {
            $("#selTinhTrang").show();
            $("#btnSubmit").show();
            $(this).hide();
        });
});
</script>