@model List<G_Shop.Areas.Admin.Models.CTHD>

@{
    ViewBag.Title = "CTHD";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-lg-12">
    <h2>Chi tiết hoá đơn</h2>
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                Mã hóa đơn:
            </dt>

            <dd>
                @ViewBag.MaHD
            </dd>

            <dt>
                Ngày lập:
            </dt>

            <dd>
                @ViewBag.NgayLap
            </dd>
        </dl>
        <hr />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Sản phẩm</th>
                    <th>
                        Giá
                    </th>

                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.TenCaThe
                        </td>
                        <td>
                            @item.Gia
                        </td>

                    </tr>
                }
                <tr>
                    <td>Tổng:</td>
                    <td>@ViewBag.TongTien</td>
                </tr>
            </tbody>
        </table>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Tình trạng:
            </dt>

            <dd>
                Đã hoàn thành
            </dd>
        </dl>
    </div>
</div>
<div class="col-md-offset-2">
    <a href ="/Admin/AdminHome/HoaDon" title="Quay lại danh sách hóa đơn" class="btn btn-success">Quay lại</a>
</div>
