
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>G_SHOP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/shop-homepage.css" rel="stylesheet">
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>

</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container" style="height:30px">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="margin-top:20px">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index">G_SHOP</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse row" id="bs-example-navbar-collapse-1" style="height:30px;margin-top:20px">
                
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Thông tin</a>
                    </li>
                    <li>
                        <a href="#">Dịch vụ</a>
                    </li>
                    <li>
                        <a href="#">Liên hệ</a>
                    </li>
                    
                </ul>
                <div class="row">

                    @using (Html.BeginForm("Tim", "Home", FormMethod.Get))
                    {
                        <div class="col-md-3">
                            @Html.TextBox("ten", "", new { placeholder = "Gõ từ khóa", @class = "form-control" })
                        </div>
                        <div class="col-md-1">
                            <input type="submit" value="Tìm" class="btn btn-success" />

                        </div>

                    }
                    <div class="col-md-4">
                        <div class="pull-right">
                            @if(Session["user"] == null) {
                                <p style="color:white;padding-top:15px">
                                    <a href="/Account/Login" style="color:white;">Đăng nhập</a>  &nbsp; &nbsp;
                                    <a href="/Account/Register" style="color:white;">Đăng kí</a>
                                </p>
                            } else {
                                <p  style="color:#808080;padding-top:15px">
                                    Chào bạn, @ViewBag.tennguoidung &nbsp;
                                    <span><a href="/Account/Logoff" style="color:white;">Đăng xuất</a></span>&nbsp; &nbsp;
                                    <span><a href="/Cart/Index" style="color:white;">Giỏ hàng</a></span>
                                </p>
                            }

                        </div>

                    </div>
                </div>


            
            </div>
            

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">Shop bán thú cưng</p>
                @{Html.RenderAction("_Category", "Home");}
            </div>
            <div class="col-md-9">
                @RenderPage("_Slide.cshtml")
                
                    @RenderBody()
                
            </div>
        </div>
    </div>
    <!-- /.container -->
    <div class="container">
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    
   
</body>
</html>
