@model VT_Shop.Models.Cay
@{
    ViewBag.Title = "SuaCay";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Sửa thông tin cây</h2>
@Html.ActionLink("Đổi hình ảnh", "SuaHinh", new { MaLoai = Model.MaLoai, MaCay = Model.MaCay }, new { @class = "btn btn-primary" })
@Html.ActionLink("Thêm cá thể liên quan", "CayLienQuan","GoiY", new { MaLoai = Model.MaLoai, MaCay = Model.MaCay }, new { @class = "btn btn-primary" })
@using(Html.BeginForm("SuaCay", "AdminHome", FormMethod.Post, new { @id = "form", @class = "form-horizontal", enctype = "multipart/form-data" })) {
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaCay)
        @Html.HiddenFor(model => model.MaLoai)
        <div class="form-group">
            <label class="control-label col-md-2">Tên:</label>
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.TenCay, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TenCay, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Mô tả:</label>
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.MoTa, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Giá mua:</label>
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.GiaMua, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GiaMua, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Giá bán:</label>
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.GiaBan, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GiaBan, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Khuyến mãi:</label>
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.KhuyenMai, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.KhuyenMai, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Tình trạng:</label>
            <div class="col-md-6">
                @*@if(Model.TinhTrang == "Sẵn bán") {*@
                <select name="tinhtrang" class="form-control" id="selTinhTrang">
                    <option value="Sẵn bán">Sẵn bán</option>
                    @if(Model.TinhTrang == "Đã bán") {
                        <option value="Đã bán" selected>Đã bán</option>
                    } else {
                        <option value="Đã bán">Đã bán</option>
                    }
                    @if(Model.TinhTrang == "Đã mất") {
                        <option value="Đã mất" selected>Đã mất</option>
                    } else {
                        <option value="Đã mất">Đã mất</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-2">
                <input type="submit" value="Sửa" class="btn btn-primary" />
                <button class="btn btn-default">
                    @Html.ActionLink("Quay lại", "Cay", new { MaLoai = Model.MaLoai })
                </button>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(".custom_datepicker").datepicker({
        maxDate: 0
    });
    </script>